<div class="cp_iptxt">
  <label>店舗名</label>
  <input disabled type="text" class="form-control" value="<%= @shop.name %>" style="cursor: not-allowed;">
</div>

<div class="cp_iptxt">
  <label>Email</label>
  <input disabled type="text" class="form-control" value="<%= @shop.email %>" style="cursor: not-allowed;">
</div>
