<div class="cp_iptxt">
  <label>店舗名</label>
  <input type="text" class="form-control" value="<%= @shop.name %>">
</div>

<div class="cp_iptxt">
  <label>Email</label>
  <input type="text" class="form-control" value="<%= @shop.email %>">
</div>
