<% if @shop.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger" style="font-weight: bold;">
      The form contains <%= pluralize(@shop.errors.count, "error") %>.
    </div>
    <div>
      <% @shop.errors.full_messages.each do |msg| %>
        <p style="color: red;"><%= msg %></p>
      <% end %>
    </div>
    </ul>
  </div>
<% end %>