<ul>
	<li><a class="active" href="/">Home</a></li>
  <li><a class="active" href="/items">Items</a></li>
  <% if current_shop.nil? %>
    <li><a class="active" href="/signup">Sign up</a></li>
    <li><a class="active" href="/login">Log in</a></li>
  <% else %>
    <li><%= link_to "Log out", logout_path, method: :delete, class: "active" %></li>
    <li style="float: right;"><%= link_to "業者名：#{current_shop.name}", shop_path(current_shop) %></li>
  <% end %>
</ul>

