<%= form_with(url: items_path, data: {remote: true}, method: :get) do |f| %>

  <div class="cp_iptxt">
    <%= f.label :text, class: "ef" %>
    <%= f.text_field :text, placeholder: "検索ワードを入力してください" %>
  </div>

  <div class="center">
    <%= f.submit "Search", class: "btn-flat-border" %>
  </div>

<% end %>