<% provide(:button, "Create") %>
<h1>Welcome to Item_index</h1>

<!-- 商品登録フォーム -->
<%= render partial: 'form' %>

<!-- 検索フォーム -->
<%= render partial: 'search' %>

<!-- 商品一覧 -->
<div class="items">
  <%= render @items %>
</div>