// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0px;
  padding: 0px;
}

.container {
  padding-top: 100px;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #BABABA;
  // width: 100vw;
  // height: 100vh;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  background-color: #1b2538;
  position: fixed;
  width: 100%;
  z-index: 100;
  // margin-bottom: 50px;
}
li {
	float: left;
	border-right: 1px solid #bbbbbb;
}
li:last-child {
	border-right: none;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #a9bce2;
}
.active {
	background-color: #da3c41;
}

#home {
  padding-top: 240px;
}